################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Business.Data/bin
/Business.Data/obj
*.user
*.nupkg
/test/obj
/test/bin/Debug/netcoreapp3.1
/test/bin/Release/netcoreapp3.1
